

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-right: -20%;
 
}


h1{
    margin-right: 16%;
}

p,span{
    font-weight: 500;
}

img{
    width: 50%;}





