html {
  background: url(../images/backgroud.PNG); /*Added this to change background, can edit with this*/
  background-repeat: no-repeat; /*Added this to change background, can edit with this*/
  background-size: 2560px 1762px; /*Added this to change background, can edit with this*/
  min-height: 100%;
  font-family: sans-serif, "Times New Roman", Times, serif;
  position: relative;
  padding-bottom: 50px;
}

body {
  height: 100%;
  max-width: 100%;
}

/* navbar styles */
nav {
  background-color: transparent;
  border-bottom: none !important;
  box-shadow: none !important;
  margin-bottom: 3in;
  margin-top: 20px;
}

.aboutme {
  color: black;
  font-weight: bold;
  font-size: large;
  background-color: peachpuff;
  border-radius: 10px;
  margin-right: 20px;
}

#brand-logo {
  font-size: 5rem !important;
  background-image: -webkit-linear-gradient(
    rgb(252, 188, 236),
    rgb(198, 177, 187)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

.aboutme {
  color: black;
  font-weight: bold;
  font-size: large;
  background-color: peachpuff;
  border-radius: 10px;
  margin-right: 20px;
}

/* main styles */
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-color: peachpuff;
  text-align: center;
}

.btn {
  color: black;
  font-weight: bold;
  display: block;
  justify-content: center;
  color: black;
  background-color: peachpuff;
}

.btn:hover {
  background-color: rgb(241, 161, 91);
}

button:hover {
  background-color: rgb(241, 161, 91);
}

textarea {
  text-align: center;
}

label {
  font-weight: bold !important;
  color: black !important;
}

.materialize-input {
  border-bottom: solid rgb(255, 243, 233) !important;
  box-shadow: 0px 1px 0px 0px white !important;
}

.materialize-textarea {
  border-bottom: solid rgb(255, 243, 233) !important;
  box-shadow: 0px 1px 0px 0px white !important;
}

/* api call data info display styles */
#displayinfo {
  font-weight: bold;
}

/* .card-panel {
  padding: none !important;
} */

#concertevent,
#concertdate,
#concertname,
#venuename,
#concerturl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#concerturl {
  color: magenta;
  text-align: center;
}

#lastFMInfo {
  list-style: none;
  font-size: 22px;
  text-align: center;
  box-shadow: none !important;
}

#concertevent,
#concertdate,
#concertname,
#venuename,
#concerturl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#concerturl {
  color: blue;
}

/* footer styles */
footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  font-weight: bold;
}
