
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-right: -20%;
    background-image: linear-gradient(to bottom right, rgb(204, 104, 243),rgb(29, 245, 227));

 
}


h1{
    margin-right: 16%;
}


p,span{
    font-weight: 500;
}

img{
    
    width: 30%;}


button{
    width:50%;
}

