html{
    background:url("./images/backgroud.PNG");/*Added this to change background, can edit with this*/
    background-repeat: no-repeat; /*Added this to change background, can edit with this*/
    background-size: 2560px 1762px;/*Added this to change background, can edit with this*/

}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-right: -20%;

 
}


h1{
    margin-right: 16%;
}


p,span{
    font-weight: 500;
}

img{
    
    width: 30%;}


button{
    width:50%;
}

