html
{
    background-image: linear-gradient(to bottom right, rgb(29, 245, 227),rgb(214, 109, 255) );
    min-height: 100%;
    font-family: sans-serif,'Times New Roman', Times, serif;
    overflow-x: visible;
}
.nav-wrapper
{
    background-image: linear-gradient(to bottom right, rgb(89, 188, 245),rgb(218, 14, 236) );
}

button
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

h1
{
    text-align: center;
}

.btn
{
    color: black;
    font-weight: bold;
    display: block;
    justify-content: center;
}

#generate
{
    background-color: hotpink;
}

textarea 
{
    text-align: center;

}

footer
{
    font-weight: bold;
}

#sticky{
    position: sticky;
    top:0;
    bottom:0;
    left:0;
}


footer{
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    background:hotpink;
}

